*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rosybrown ;
font-family:Verdana, Geneva, Tahoma, sans-serif
}
    
.title{
    padding-left: 15px;}
    .Imagen1{
        width: 100%;
        display: block;
    }
    .links{
        text-shadow: 1px 1px 2px black ;
        font-weight: bold;
        display: inline;
        position: absolute;
      left:170vh;
      top: 5vw;
      background: none;
    }
    .nav_home{
        background: none;
        text-decoration: none;
        color: blanchedalmond;
    }
    .nav_about{
        background:none;
        text-decoration: none;
        color: blanchedalmond;
    }
    .nav_contact{
        background:none;
        text-decoration: none;
        color: blanchedalmond;
    }
    .nav_home:hover{
        background-color: green;
    }
    .nav_about:hover{
        background-color: green;
    }
    .nav_contact:hover{
        background-color: green;
    }

    
.subtitle{
   text-align: center;
   border: solid black;
   font-size: 1;
   color: white;
   
}
.logo{
    position: absolute;
    display: inline;
}
.info{
  margin-left: 45vh;
  margin-top: 3vw;
  
}
.imagen_extra{
    position: absolute;
    width: 28%;
  margin-left: 100vh;
display:block;
top: 48vw;
}
.letra{
    font-weight: bold;
    font-size: 1.5vw;
    font-style: inherit;
}

 