html,body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
font-family:Verdana, Geneva, Tahoma, sans-serif;
background-color:burlywood
}
    
.title{
    text-shadow: 1px 1px 2px blueviolet ;
    background-color: black;
    color: white;
    display: flex;
    margin: 0;
    padding: 5px 10px;
    border: 5px solid yellow;

}
    .Imagen1{
        width: 100%;
        display: block;
    }
    .links{
        text-shadow: 1px 1px 2px black ;
        font-weight: bold;
        position:sticky;
        top: 7vh;
      left:150vh;
      bottom: 40vw;
      background: none;
      display: inline;
    }
    .nav_home{
        background: none;
        text-decoration: none;
        margin: 0 0.500vw;
        padding: 1vw 2vw;
        background-color: #f5dc21;
        color: #000000;
        border-radius: 10px;
    }
    .nav_about{
        background:none;
        text-decoration: none;
        margin: 0 0.500vw;
        padding-right: 10px;
        padding: 1vw 2vw;
        background-color: #f5dc21;
        color: #000000;
        border-radius: 10px;
    }
    .nav_contact{
        background:none;
        text-decoration: none;
        margin: 0 0.500vw;
        padding-right: 10px;
        padding: 1vw 2vw;
        background-color: #f5dc21;
        color: #000000;
        border-radius: 10px;
        
    }
    .nav_info{
        background:none;
        text-decoration: none;
        margin: 0 0.500vw;
        padding-right: 10px;
        padding: 1vw 2vw;
        background-color: #f5dc21;
        color: #000000;
        border-radius: 10px;
    }
    .nav_rules{
        background:none;
        text-decoration: none;
        margin: 0 0.500vw;
        padding-right: 10px;
        padding: 1vw 2vw;
        background-color: #f5dc21;
        color: #000000;
        border-radius: 10px;
    }
    .nav_registration{
        background:none;
        text-decoration: none;
        margin: 0 0.500vw;
        padding-right: 10px;
        padding: 1vw 2vw;
        background-color: #f5dc21;
        color: #000000;
        border-radius: 10px;
    }
    .nav_home:hover{
        background-color: green;
    }
    .nav_about:hover{
        background-color: green;
        
    }
    .nav_contact:hover{
        background-color: green;
        
    }
    .nav_info:hover{
        background-color: green;
    }
    .nav_rules:hover{
        background-color: green;
    }
    .nav_registration:hover{
        background-color: green; 
    }
    

    
.subtitle{
   text-align: center;
   border: solid black;
   font-size: 1;
   color: white;
   background-color: black;
   text-shadow: 1px 1px 2px blueviolet ;
   margin-top: -1.2vw;
   border: 5px solid yellow;
}
.encabezado{
    display: flex;
}
.logo{
    position: absolute;
    display: inline;
}
.fondo_about{
    margin-top: -20px;
    padding: 5px 0px;
    background-image: url(./assets/hockey_2.jpg);
    background-size: cover;
}
.info{ 
    height: 20vw;
  margin-left: 50vh;
  margin-top: 2vw; 
  margin-bottom: 5rem;
  
}
.texto{
    padding-top: 2vh;
    font-weight: bold;
}
.imagen_extra{
    width: 28%;
    position: absolute;
  margin-left: 100vh;
display:block;
top: 50vw;
    
}
.letra{
    font-weight: bold;
    font-size: 1.5vw;
    font-style: inherit;
}
.table_container{
    width: 80%;
    margin-left: 20vh;
    padding: 0;
}

    table{
        background-color: white;
    text-align: left;
    width: 100%; 
    border-collapse: collapse;
    }
    thead{
        background-color: #246355;
        border-bottom: solid 5px #0F362D;
        color: white;
    }
    .aclaracion{
       color:green;
    }
.email_info{
    position: absolute;
    top: 299vw;
    left: 50vh;
}
th, td{
    border: 1px solid black;
    padding: 10px;
}
.mapas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 6rem;
    font-weight: bold;
    font-size: medium;
}

    .h3_rules, .p_rules{
        display: flex;
        justify-content: center;
    }
    .main_list{
        font-style: oblique;
        margin-left: 3rem;
    }
   .especial{
    list-style:circle;
   }
    ol{
     list-style:lower-alpha;
     
    }
    dt{
    font-weight: bold;
        
    }
   
    form {
        
        width: 60vw;
        margin: 1rem 2rem;
        font-weight: bold;
        font-style: initial;
        font-size: medium;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
      fieldset{
        margin-bottom: 1rem;
  border: 3px solid #C15C75;
  border-radius: 4px;
  padding: 1rem;
      }
      legend{
        font-weight: bold;
        font-size: 1.7rem;
        text-align: center;
      }
      
      
      label {
        display: inline-block;
        margin: 15px;
        font-weight: bold;
      }
      
      input[type="text"]{
        border-radius: 6px;
       width: 100%;
       border: 2px solid black;
       margin: 10px;
      }
      
      input[type="date"]{
        border-radius: 5px
      }
      .genero{
        margin-left: 20rem;
      }
    
      select{
        width: 100%;
        border: 2px solid black;
       margin: 10px;
       border-radius: 6px;

      }
      .permisos{
        font-weight:normal ;
      }